@media only screen and (max-width: 600px) {
  $hamburgerBlue: #8ecfef;

  html > body,
  #body {
    &:after {
      content: "";
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  html > body,
  body #app {
    .wrapper__header {
      .header-inner {
        min-width: 100vw;
        span p {
          font-size: 18px;
          display: block;
          width: 99%;
        }
      }
    }
    //nav
    nav {
      h1 {
        width: 50px;
      }
      p.txt__corr {
        left: 35px;
        transform: translateX(0px);
      }

      > ol {
        flex-direction: column;
        width: calc(100vw - 100px);
        background: lighten($hamburgerBlue, 10);
        height: calc(100vh - 40px);
        padding-top: 40px;
        padding-left: 20px;
        top: 40px;
        position: absolute;
        right: -100vw;
        transition: right 0.2s ease-in-out;
        > li {
          text-align: left;
          display: block;
          height: 60px;
          font-size: 25px;
          padding-left: 50px;
          border-bottom: dashed 1px darken($hamburgerBlue, 30%);
          a {
            display: block;
            height: 100%;
            padding-top: 13px;
            position: relative;
            color: darken($hamburgerBlue, 50%);
          }
          > a.link__nav.active {
            &:before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background: darken($hamburgerBlue, 20%);
              border-radius: 12px;
              position: absolute;
              top: 45%;
              left: -10%;
            }
          }
        }
      }
      em.hamburger {
        display: block;
      }
    }

    ol.list__point-head {
      > li {
        &:before {
          display: none;
        }
        &:after {
          width: 6px;
          height: 6px;
        }
      }
    }

    #container {
      .block__side {
        top: 23%;
        height: 60px;
        width: calc(100vw / 2.05);
      }
    }

    // start box
    .box__start {
      .outer .inner button.btn {
        border-radius: 40px;
        width: 95%;
        min-width: 300px;
      }
    }
    section#result {
      padding: 20px 35px 10px 35px;
      p {
        font-size: 20px;
        margin-bottom: 20px;
        clear: both;
        width: 100%;
      }
      button.btn__next {
        min-width: 86vw;
        bottom: 35%;
      }
    }

    //static pages
    .wrapper__static-page.sho {
      #content {
        #rules {
          header {
            height: 220px;
          }
          .example {
            .flex {
              flex-direction: column;
              section {
                max-width: 90vw;
                article {
                  max-width: 90vw;
                  min-height: 300px;
                  width: 100%;
                }
                article:nth-child(even) {
                  margin-left: 0px;
                  margin-top: 25px;
                }
              }
            }
          }
        }
        #contact {
          section.sect__about {
            max-width: 15vw;
          }
          section.sect__contact {
            width: 75vw;
            max-width: 75vw;
          }
        }
        #about {
          section.sect__about {
            width: 75vw;
            max-width: 75vw;
          }
          section.sect__contact {
            overflow: hidden;
            max-width: 15vw;
          }
        }
      }
    }

    //results box

    .wrapper__scoreboard {
      h2 {
        font-size: 40px;
      }
      .box__end {
        width: 92%;
        .inner {
          padding: 50px 20px 65px 20px;
          hr {
            margin: 30px 0px 40px 0px;
          }
          > p {
            margin: 20px auto;
          }
        }
      }
      button.btn__playagain {
        min-width: 99%;
      }
    }

    #container {
      min-height: 90vh;
      button.btn {
        min-width: 46vw;
      }
      main {
        .wrapper__full-head {
          transform: scale(0.85);
          bottom: 27%;
        }
      }
      .wrapper__btn {
        margin: 2px 4px;
      }
    }
  }
  html > body.open #app,
  body.open #app {
    nav {
      > ol {
        right: 0px;
        transition: right 0.2s ease-in-out;
      }
    }
  }
}
body#body.open {
  &:after {
    background: #222;
    display: block;
    position: fixed;
    z-index: 99;
    opacity: 0.9;
  }
}
